{% extends 'main/index.html' %}


{% block content1 %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Рассылка - {{ object.title }}</h1>
        <div>
            {% if perms.blog.change_blog %}
                <a class="btn btn-dark" href="{% url 'blog:blog_update' object.pk %}">Изменить</a>
            {% endif %}
            {% if perms.blog.delete_blog %}
                <a class="btn btn-danger" href="{% url 'blog:blog_delete' object.pk %}">Удалить</a>
            {% endif %}
        </div>
    </div>

    <div class="row card-body">
        <div class="col-4">ID</div>
        <div class="col-8">{{ object.pk }}</div>
        <div class="col-4">Название</div>
        <div class="col-8">{{ object.title }}</div>
        <div class="col-4">Контент</div>
        <div class="col-8">{{ object.content }}</div>
        <div class="col-4">Дата публикации</div>
        <div class="col-8">{{ object.date_published }}</div>
        <div class="col-4">Изображение</div>
        <div class="col-8">{{ object.image }}</div>
        <div class="col-4">Количество просмотров</div>
        <div class="col-8">{{ object.views_count }}</div>
    </div>


{% endblock %}